#page{
	height:6000px;
}

#page{
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
}

#topbar{
	padding: 10px 0px;
	background: #2f353f;
	position:fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	z-index: 10;
}

.nav_item{
	color: white;
	padding: 5px 30px;
	font-size: 18px;
	font-weight: 700;
	line-height: 0px;
	float: right;
	font-family: "Quicksand";
}


.img-scaled-w{
	width:100%;
}





#nav_image{
	width:40px;
	height: 40px;
	padding:0px;
	background: white;
	border-radius: 25px;
}

#nav_text{
	padding-left:8px;
}

#dollar{
	width:33px;
	padding-top:3px;
	padding-left:3px;
}

#grass{
	position:absolute;
	margin-top:0;
	height:100%;
	width: 100%;
	z-index:-1;
	float:left;
	top:-10px;
}


#hills{
	position: fixed;
	bottom:0px;
}
.hill_item{
	float: left;
	padding: 0px 21px;
	width: 599px;
	height: 400px;
	background-color:#00cc33;
	-moz-border-radius: 400px / 200px;
    -webkit-border-radius: 400px / 200px;
    border-radius: 400px / 200px;
    transform: translateY(85%);
    border: 1px solid black;
    opacity: 0.8;
}

#center_hill{
	width: 600px;
	height:400px;
	background-color:#00cc33;
	-moz-border-radius: 400px / 200px;
    -webkit-border-radius: 400px / 200px;
    border-radius: 400px / 200px;
    transform: translateY(75%);
	margin: 0 auto;    
	z-index: 5;
	border: 1px solid black;
	color: black;
}

#title{
	position:absolute;
	color:white;
	z-index: 6;
	font-size: 50;
	margin: 0 auto;
	bottom: 12px;
	left: 510px;
	font-family: "Quicksand";
}

.image{
	content:url("../img/cow1.png") ;
}

#cow1{
	position: relative;
	top:250px;
	left:230px;
	width: 200px;
}

#cow2{
	position: relative;
	
    width: 170px;
    left:800px;
    top:1100px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#cow3{
	position: relative;
	left: 300px;
	top:2400px;
}

#cow4{
	position: relative;
	top:2300px;
	left:450px;
	
}

#cow5{
	position: relative;
	top: 2260px;
	left:380px;
	width:180px;
}

#cow6{
	position: relative;
	top:4500px;
	left:400px;
	width: 300px;
}

#cow7{
	position: relative;
	top: 7700px;
	left:900px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}




.banner{
	position:absolute;
	width: 100%;
	height: 250px;
	background-color: #00cc33;
}

.btitle{
	position: relative;
	top:150px;
	text-align: center;
	color: white;
	font-family: "Quicksand";
	font-size: 48px;
}

.restpage{
	position:relative;
	width:100%;
	top:192px;
	background-color: #339933;
	height: 100%;
	height:2100px;
}

.sidebar{
	position:fixed;
	top:0px;
	width: 200px;
	height:2000px;
	background-color: #2f353f;
	z-index:5;

}

#page2{
	height:2000px;
}

#page2{
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
}

.cowprofs{
	position:relative;
	height:300px;
	left:-25;
}

.prof1{
	border:white solid 1px;
	border-radius: 25px;
	position:relative;
	top:10px;
	left:300px;
	padding:15px;
	width:125px;
}

.prof2{
	position:relative;
	left:600px;
	padding:15px;
	width:125px;
	border:white solid 1px;
	border-radius: 25px;
}

.prof3{
	position:relative;
	left:900px;
	padding:15px;
	width:125px;
	border:white solid 1px;
	border-radius: 25px;
}

.prof4{
	position:relative;
	left:1200px;
	padding:15px;
	width:125px;
	border:white solid 1px;
	border-radius: 25px;
}

#popup1{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup2{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup3{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup4{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup5{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup6{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup7{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

#popup8{
	position:relative;
	top:10px;
	width: 100px;
	height:30px;
	font-family:"QuickSand";
	font-size: 18px;
	color:white;
	text-align:center;


}

.invis{
	opacity:0;
}

#page3{	
	background-color:#00CC33;
}

#cowsell{
	background-color:white;
	width:150px;
	padding:10px;
	height:150px;
	border-radius:50%;
	text-align: center;
	margin: 0 auto;
}

#sellpic{
	position:relative;
	top:10px;
}

#pricebox{
	position:relative;
	color:white;
	width:125px;
	height:130px;
	margin: 0 auto;
	border: white solid 3px;
	padding:10px;
	top:20px;
	text-align: center;
	font-family:"Quicksand";
	font-size:20px;
}

#instructions{
	position:relative;
	margin: 0 auto;
	left: 15px;
	bottom:10px;
	width:150px;
	font-family: "Quicksand";
	font-size: 20px;
	color:white;

}
#arrows{
	position:relative;
	width: 130px;
	margin: 0 auto;


}

#arrowimage{
	padding-top:100px;
	position: relative;

}

#last{
	right: 100px;
	background-color:white;
	width:105px;
	height:105px;
	border-radius:50%;
	text-align: center;
	margin: 0 auto;
}

#burgerimage{
	position: relative;
	top:17px;
	width: 70px;
}

#sold{
	width:80px;
}


.visible{
	opacity:1;
}